#rodape{
    background-color: #666666;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoRodape img{
    height: 100px;
    width: 100px;
}

#informacoes p{
    margin: 0;
    text-align: center;
    color: white;
}

#redesSociais ul, li{
    list-style-type: none;
    padding: 0;
}

#redesSociais img{
    height: 30px;
    width: 30px;
}